@charset "UTF-8";

nav#menu > ul {
  list-style: none;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightgray;
  height: 100dvh;
  width: 100dvw;
}

header {
  background-color: gray;
  color: white;
  padding: 10px;
}

header > h1 {
  text-align: left;
  margin-right: 80px;
}

i#icon-menu {
  width: 95vw;
}

i#icon-menu,
nav#menu a {
  display: block;
  background-color: rgb(33, 33, 33);
  color: rgb(225, 225, 225);
  text-align: center;
  margin: auto;
  padding: 10px;
  border-radius: 4px;
}

i#icon-menu:hover,
nav#menu a:hover {
  cursor: pointer;
  background-color: rgb(225, 225, 225);
  color: rgb(48, 48, 48);
  transition: background-color 0.5s;
}

header > nav#menu {
  text-align: left;
}

nav#menu > ul {
  list-style-type: none;
}

nav#menu > ul > li {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-flow: column nowrap;
}

nav#menu a {
  background-color: black;
  text-decoration: none;
  margin: 4px;
}

main {
  background-color: white;
  width: 96vw;
  max-width: 900px;
  padding: 10px;
  margin: 10px auto;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.414);
}

article {
  padding: 8px;
}

article h2 {
  text-align: left;
  padding: 8px;
  padding-top: 0px;
}

article p {
  text-align: justify;
  text-indent: 10px;
  padding-top: 8px;
}

footer {
  font-size: .9em;
  position: fixed;
  bottom: 1px;
  width: 100%;
  background-color: rgb(39, 65, 65);
  color: white;
  text-align: center;
  padding: 4px;
}

div#social {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  padding: 3px;
}

div#social > a {
  color: white;
  font-size: 0.9em;
  text-decoration: none;
  padding-bottom: 4px;
}

div#social > a:hover {
  text-decoration: underline;
  color: rgb(225, 225, 225);
}

div#social img {
  width: 17px;
  margin-right: 3px;
  margin-bottom: -3px;
}